<div class=" m-2" id="<%= dom_id content %>">
  <% if action_name == "show" %>
    <%= render 'content_head', content: @content %>
    <%= render 'mappa_parent', content: @content %>
  <% end %>
  <div class="w-full lg:w-4xl p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <p class="my-5">
      <article class="prose lg:prose-xl">
        <%= markdown(content.body) if content.body %>
      </article>
    </p>
  </div>
  <% if content.mermaid.present? %>
    <p class="my-5">
      <div class="mermaid">
        <%= content.mermaid %>
      </div>
      <!-- Include the Mermaid JavaScript -->
      <!-- Initialize Mermaid -->
      <script>
        mermaid.initialize({ startOnLoad: true });
      </script>
      <% if params[:mermaid].nil? %>
        <script>
          // Funzione per ricaricare la pagina e reindirizzare a "/docs?mermaid=redirect"
          function reloadAndRedirect() {
            // Ricarica la pagina
            location.reload();

            // Reindirizza a "/docs?mermaid=redirect"
            <% if action_name == "show" %>
            window.location.replace("/contents/<%= @content.id%>?mermaid=redirect");
            <% else %>
              window.location.replace("/contents/<%= @content.id%>/public?mermaid=redirect");
            <% end %>
          }

          // Richiama la funzione all'avvio della pagina
          reloadAndRedirect();
        </script>
      <% end %>
    </p>
  <% end %>
  <div class="">
    <% if action_name != "show" && action_name != "public"  %>
      <% if user_signed_in? %>
        <% if @content.user.id == current_user.id %>
          <%= link_to "Show this content", content, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          <%= link_to "Edit this content", edit_content_path(content), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
          <hr class="mt-6">
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render 'valore', content: @content %>