<% @non_attivo = "inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500"%>
<% @attivo = "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"%>
<div class="w-full">
  <!--div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Contenuti</h1>
    <%#= link_to "New content", new_content_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div-->
  <!--div id="contents" class="min-w-full">
    <%#= render @contents %>
  </div-->
  <div class="w-full">
    <section class="bg-white dark:bg-gray-900 py-2 lg:py-8 antialiased">
      <div class="max-w-2xl mx-auto px-2">
        <div class="flex justify-between items-center">
          <h1 class="font-bold text-4xl">Contenuti</h1>
        </div>
        <div class="mb-2 text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
          <ul class="flex flex-wrap -mb-px">
            <li class="me-2">
              <% if controller_name == "pages" && action_name == "home" %>
                <%= link_to "Passati", contents_path, class: "#{@attivo}" %>
              <% else %>
                <%= link_to "Passati", contents_path, class: "#{@non_attivo}" %>
              <% end %>
            </li>
            <li class="me-2">
              <% if controller_name == "contents" && action_name == "index" %>
                <%= link_to "Prossimi", root_path, class: "#{@attivo}" %>
              <% else %>
                <%= link_to "Prossimi", root_path, class: "#{@non_attivo}" %>
              <% end %>
            </li>
            <li class="me-2">
              <%= link_to "+ Nuovo", new_content_path, class: "inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" %>
            </li>
          </ul>
        </div>
        <!---->
        <% @contents.each do |content| %>
          <div class="border-b p-2 ">
            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
              <%= helper_day(content.data.strftime("%u").to_i)  %> <%= content.data.strftime("%d")  %>
            </span>
            <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
              <%= helper_month(content.data.strftime("%m").to_i)  %>
            </span>
          </div>
          <div class="border-b p-2 flex justify-between">
            <div class="flex">
              <span class=" text-blue-800 text-xs font-medium me-1 px-1 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                <%= content.data.strftime("%H:%M")  %>
              </span>
              <% if content.ricavo %>
                <!-- Ricavo con tooltip per la conversione in euro -->
                <span class="flex text-green-800 text-xs font-medium me-1 px-1 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400" data-tooltip-target="tooltip-ricavo" id="ricavo-value">
                  <%= content.ricavo %><%= image_tag "https://cdn-icons-png.flaticon.com/512/825/825534.png", class: "w-4 h-4 ml-1" %>
                </span>
                <div id="tooltip-ricavo" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                  <span id="tooltip-content">Conversione in euro: </span>
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <script>
                  // Funzione per ottenere il tasso di cambio da CoinGecko e aggiornare il tooltip
                  function updateTooltipRicavo() {
                    const ricavoValue = document.getElementById('ricavo-value').innerText;

                    // Effettua una richiesta HTTP GET all'API di CoinGecko per ottenere il prezzo di Dash in euro
                    fetch('https://api.coingecko.com/api/v3/simple/price?ids=dash&vs_currencies=eur')
                      .then(response => response.json())
                      .then(data => {
                        const exchangeRate = data.dash.eur;
                        const ricavoEuro = parseFloat(ricavoValue) * exchangeRate;
                        const tooltipContent = `${ricavoEuro.toFixed(2)} €`;

                        // Aggiorna il contenuto del tooltip
                        document.getElementById('tooltip-content').innerText = tooltipContent;
                      })
                      .catch(error => {
                        console.error('Si è verificato un errore durante il recupero del prezzo di Dash in Euro:', error);
                      });
                  }

                  // Aggiungi un gestore eventi per aggiornare il tooltip quando il cursore si trova sull'elemento
                  document.getElementById('ricavo-value').addEventListener('mouseover', updateTooltipRicavo);
                </script>
                <!-- fine -->
              <% elsif content.costo %>
                <!-- Costo con tooltip per la conversione in euro -->
                <span class="flex text-red-800 text-xs font-medium me-1 px-1 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400" data-tooltip-target="tooltip-costo" id="costo-value">
                  <%= content.costo %><%= image_tag "https://cdn-icons-png.flaticon.com/512/825/825534.png", class: "w-4 h-4 ml-1" %>
                </span>
                <div id="tooltip-costo" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                  <span id="tooltip-content">Conversione in euro: </span>
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <script>
                  // Funzione per ottenere il tasso di cambio da CoinGecko e aggiornare il tooltip
                  function updateTooltipCosto() {
                    const costoValue = document.getElementById('costo-value').innerText;

                    // Effettua una richiesta HTTP GET all'API di CoinGecko per ottenere il prezzo di Dash in euro
                    fetch('https://api.coingecko.com/api/v3/simple/price?ids=dash&vs_currencies=eur')
                      .then(response => response.json())
                      .then(data => {
                        const exchangeRate = data.dash.eur;
                        const costoEuro = parseFloat(costoValue) * exchangeRate;
                        const tooltipContent = `Conversione in euro: ${costoEuro.toFixed(2)} €`;

                        // Aggiorna il contenuto del tooltip
                        document.getElementById('tooltip-content').innerText = tooltipContent;
                      })
                      .catch(error => {
                        console.error('Si è verificato un errore durante il recupero del prezzo di Dash in Euro:', error);
                      });
                  }

                  // Aggiungi un gestore eventi per aggiornare il tooltip quando il cursore si trova sull'elemento
                  document.getElementById('costo-value').addEventListener('mouseover', updateTooltipCosto);
                </script>
                <!-- fine -->
              <% end %>
              <%= link_to content do %>
                <b class="mx-2">  <%= content.nome %></b>
              <% end %>
            </div>
            <div>
              <%= content.tipo %>
            </div>
            <!--svg class="ml-auto w-6 h-6 text-gray-800 dark:text-white inline-block ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
              <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg-->
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
