<style>
  .emoji-label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<div class="grid md:grid-cols-2 gap-4">
  <div>
    <%= form.label :energia %>
    <div class="rating flex gap-4 mt-2 ">
      <% (1..5).each do |i| %>
        <% emoji = case i
          when 1
            "ðŸ˜¢"
          when 2
            "ðŸ˜ž"
          when 3
            "ðŸ˜"
          when 4
            "ðŸ™‚"
          when 5
            "ðŸ˜„"
          end %>
        <%= form.label "emoji-label_#{i}", class: "emoji-label  m-2" do %>
          <%= emoji %>
          <%= form.radio_button :energy, i, id: "energy_#{i}", class: "emoji-radio" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.label :importanza %>
    <div class="rating flex mt-2">
      <% (1..5).each do |i| %>
        <%= form.label "importanza_#{i}", class: "star-label m-2" do %>
          <svg class="-ml-1 w-6 h-6 text-gray-800 dark:text-white star" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
          </svg>
          <%= form.radio_button :importanza, i, id: "importanza_#{i}" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!--- fine radio button--->
