<!--- Valore attribuito ---->
          
          
         
          <% if user_signed_in? %>
            <% if @content.user.id == current_user.id %>  
             <div class="my-2  max-w-3xl mx-auto lg:w-4xl p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
      
              <div class="m-4">
                <div class="flex items-center justify-between mb-4">
                  <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Valore Attribuito</h5>
                </div>
                

                <div class="flow-root">
                <div>
                <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
                    <li class="me-2" role="presentation">
                      <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-styled-tab" data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Euro</button>
                    </li>
                    <li class="me-2" role="presentation">
                      <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">
                        <%= image_tag "https://media.dash.org/wp-content/uploads/blue-d-250.png", class: "w-4 h-4" %>
                      </button>
                    </li>
                    
                  </ul>
                </div>
                <div id="default-styled-tab-content">
                  <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-profile" role="tabpanel" aria-labelledby="profile-tab">
                    <!--- eur --->
                      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                        <li class="py-3 sm:py-4">
                          <div class="flex items-center">
                              <div class="flex-1 min-w-0 ms-4">
                              <strong class="block font-medium -mb-1">Costo:</strong>

                              </div>
                              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                                                  <%= content.costo_eur %> €
                                            </div>
                          </div>
                        </li>
                        <li class="py-3 sm:py-4">
                          <div class="flex items-center">
                            

                              <div class="flex-1 min-w-0 ms-4">
                              <strong class="block font-medium -mb-1">Ricavo:</strong>

                              </div>
                              <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            
                              <%= content.ricavo_eur %> €
                            </div>
                          </div>
                        </li>
                      </ul>
                      <hr>
                      <div class="mt-4 flex items-center justify-between">
                        <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Tot</a>
                          <span class="text-3xl font-bold text-gray-900 dark:text-white">
                            <% if @content.ricavo_eur.present? && @content.costo_eur.present? %>              
                              <%= @content.ricavo_eur - @content.costo_eur %>   €
                            <% end %>
                          </span>
                      </div>
                    <!--- fine eur -->
                  </div>
                  <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    <!--- dash --->
                      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                        <li class="py-3 sm:py-4">
                          <div class="flex items-center">
                            <div class="flex-1 min-w-0 ms-4">
                              <strong class="block font-medium -mb-1">Costo:</strong>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                              <%= content.costo %> 
                              <%= image_tag "https://media.dash.org/wp-content/uploads/blue-d-250.png", class: "w-6 h-6" %>                        
                            </div>
                          </div>
                        </li>
                        <li class="py-3 sm:py-4">
                          <div class="flex items-center">
                            <div class="flex-1 min-w-0 ms-4">
                              <strong class="block font-medium -mb-1">Ricavo:</strong>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                <%= content.ricavo %> 
                              <%= image_tag "https://media.dash.org/wp-content/uploads/blue-d-250.png", class: "w-6 h-6" %> 
                            </div>
                          </div>
                        </li>
                      </ul>
                      <hr>
                      <div class="mt-4 flex items-center justify-between">
                          <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Tot</a>
                          <span class="flex text-3xl font-bold text-gray-900 dark:text-white">
                          <% if          @content.ricavo.present? && @content.costo.present? %>
                            
                        
                          <%= @content.ricavo - @content.costo %>  &nbsp; <%= image_tag "https://media.dash.org/wp-content/uploads/blue-d-250.png", class: "w-6 h-6" %></span>
                        <% end %>
                      </div>
                    <!--- fine dash -->
                  </div>
                </div>
                
              </div>

              </div>
              </div>
              </div>
            <% end %>  
          <% end %>
      
   
          <!--- Valore Attribuito ------>