<section class="bg-white dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto text-center sm:py-16 lg:px-6">
    <div class="max-w-screen-sm mx-auto">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Usiamo dash come moneta di riferimento</h2>
      <p class="mb-6 lg:mb-16 font-light text-gray-500 md:text-lg dark:text-gray-400"><a href="https://www.dash.org/" target="_blank">Dash.org per saperne di più</a></p>
    </div>
    <!-- Table -->
    <div class="relative mb-8 overflow-x-auto">
      <table class="max-w-2xl mx-auto text-sm text-left text-gray-500 dark:text-gray-400">
        <tbody>
          <% @dashes.order(created_at: :desc).each do |val|%>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
              <th scope="row" class=" w-24 mt-1 flex px-6 py-4 text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
                1           <%= image_tag 'home/dash.png', class:"ml-2 w-16" %>
              </th>
              <td class="px-6 py-4 text-xl font-bold text-gray-900 dark:text-white">
                <%= val.eur %>€
              </td>
              <% if val.id %>
                <td class="px-6 py-4 text-sm font-semibold <% if dashpercentuale(val.id).to_f < 0 %> text-red-500 <% else %>text-green-500 <%end %>">
                  <%= dashpercentuale(val.id) %> %
                </td>
              <% end %>
              <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                <%= val.updated_at.strftime("%d/%m/%Y") %>
                <%= val.updated_at.strftime("%H:%M") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if !user_signed_in? %>
      <p class="mb-5 sm:text-xl text-center text-gray-500 dark:text-gray-400">Inizia a usare 1 impegno per gestire le tue risorse</p>
      <%= link_to new_user_registration_path, class:"text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" do %>
        Registrati
      <% end%>
    <% end %>
  </div>
</section>
<!--div class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-4xl mx-auto mt-16">
  <div id="conversionValue"></div>
  <a href="#" id="updateDashLink">Aggiorna valore Dash in Euro</a>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Data
        </th>
        <th scope="col" class="px-6 py-3">
          Dash
        </th>
        <th scope="col" class="px-6 py-3">
          Euro
        </th>
        <th scope="col" class="px-6 py-3">
          Franco Svizzero
        </th>
        <th scope="col" class="px-6 py-3">
          Sterlina
        </th>
        <th scope="col" class="px-6 py-3">
          Dollaro
        </th>
        <th scope="col" class="px-6 py-3">
          Jen Giapponese
        </th>
        <th scope="col" class="px-6 py-3">
          Bitcoin
        </th>
        <th scope="col" class="px-6 py-3">
          Ethereum
        </th>
        <th scope="col" class="px-6 py-3">
          Ltc
        </th>
        <th scope="col" class="px-6 py-3">
          Eos
        </th>
        <th scope="col" class="px-6 py-3">
          dot
        </th>
        <th scope="col" class="px-6 py-3">
          link
        </th>
      </tr>
    </thead>
    <tbody>
      <% @dashes.order(created_at: :desc).each do |val|%>
        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
          <td class="px-6 py-4">
            <%= val.updated_at.strftime("%d/%m/%Y") %>
            <%= val.updated_at.strftime("%H:%M") %>
          </td>
          <th scope="row" class="flex px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            1           <%= image_tag 'home/dash.png', style:"width:100px;",class:"ml-2" %>
          </th>
          <td class="px-6 py-4">
            <% if val.eur.nil?%>
              <%= link_to "+", valdash_path(val: "eur"),  data: { turbo_method: :post } %>
            <% else %>
              <div class="flex">
                <%= val.eur %>€
              </div>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.chf.nil?%>
              <%= link_to "+", valdash_path(val: "chf"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.chf %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.gbp.nil?%>
              <%= link_to "+", valdash_path(val: "gbp"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.gbp %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.usd.nil?%>
              <%= link_to "+", valdash_path(val: "usd"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.usd %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.jpy.nil?%>
              <%= link_to "+", valdash_path(val: "jpy"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.jpy %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.btc.nil?%>
              <%= link_to "+", valdash_path(val: "btc"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.btc %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.eth.nil?%>
              <%= link_to "+", valdash_path(val: "eth"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.eth %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.ltc.nil?%>
              <%= link_to "+", valdash_path(val: "ltc"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.ltc %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.eos.nil?%>
              <%= link_to "+", valdash_path(val: "eos"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.eos %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.dot.nil?%>
              <%= link_to "+", valdash_path(val: "dot"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.dot %>
            <% end %>
          </td>
          <td class="px-6 py-4">
            <% if val.link.nil?%>
              <%= link_to "+", valdash_path(val: "link"),  data: { turbo_method: :post } %>
            <% else %>
              <%= val.link %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div-->
<% @dash = Dash.last %>
<% if @dash.nil? || @dash.created_at < 24.hours.ago %>
  <%= render 'shared/dashjs', version: Time.now.to_i %>
<% end %>