<div id="<%= dom_id resource %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= resource.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tipo:</strong>
    <%= resource.tipo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= resource.nome %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descrizione:</strong>
    <%= resource.descrizione %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= resource.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Img url:</strong>
    <%= resource.img_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= resource.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Telefono:</strong>
    <%= resource.telefono %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Costo:</strong>
    <%= resource.costo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ricavo:</strong>
    <%= resource.ricavo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%= resource.data %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Visibility:</strong>
    <%= resource.visibility %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Energy:</strong>
    <%= resource.energy %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Importanza:</strong>
    <%= resource.importanza %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this resource", resource, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this resource", edit_resource_path(resource), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
