<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <body>
      <%= render 'shared/flash' %>
      <%= render 'shared/nav' %>
      <main class="">
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </body>
  </html>
