<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <body>
      <%= render 'shared/flash' %>
      <% unless controller_name == "contents" && action_name == "index" %>
        <%= render 'shared/nav' %>
      <% end %>
      <div class="h-16"></div>
      <main class="">
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </body>
  </html>
